---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="bs">
	<head>
		<BaseHead title={`O nama - ${SITE_TITLE}`} description="O nama" />
	</head>
	<body>
		<Header />
		<main>
			<h1>O nama</h1>
			<p>O ideji hodi.ba pročitajte na <a href="https://www.bring.out.ba/blog/hodi/">bring.out.ba</a>.</p>
		</main>
		<Footer />
	</body>
</html>
