---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="bs">
	<head>
		<BaseHead title={`O nama - ${SITE_TITLE}`} description="O nama" />
	</head>
	<body>
		<Header />
		<main>
			<h1>O nama</h1>
			<p>Projekat hodi.ba je pokrenut unutar projekta bosanske lokalizacije "Odoo" open-source platforme. Za detalje pogledajte <a href="https://www.bring.out.ba/blog">bring.out.ba/blog</a>.</p>
		</main>
		<Footer />
	</body>
</html>
