---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	h2 { margin: 0; font-size: 1em; }
	h2 a, h2 a.active { text-decoration: none; }
	.logo { height: 40px; width: auto; vertical-align: middle; }
</style>

<header>
	<nav>
		<h2><a href="/"><img src="/logo.svg" alt="Hodi!" class="logo" /></a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Početna</HeaderLink>
			<HeaderLink href="/about">O nama</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
